[general]
name = ATLAS Geo-Dock
qgisMinimumVersion = 3.0
description = QGIS integrated plugin for UAV Pose Estimation and UAV-to-Map Registration
version = 1.1.0
author = AIVE AI Systems
email = luis.sentis@aivesystems.com
changelog = Initial release

tags = UAV,georeferencing,image-registration,geospatial

homepage = https://github.com/AIVE-Systems-General/atlas-geo-plugin
tracker = https://github.com/AIVE-Systems-General/atlas-geo-plugin/issues
repository = https://github.com/AIVE-Systems-General/atlas-geo-plugin

icon = icon.png

experimental = False
deprecated = False

category = Raster

; [files]
; You can specify the number of file to include here (max. 4)
; The specified files will be included in the zip file with the deployed
; plugin

; files = doc/index.html

; [excluded_files]
; Uncomment the following lines to exclude files from the plugin.
; excluded_files = help/index.html

; [metadata]
; 
; create_metadata = True
; 
; [PEP8]
; 
; run_pep8 = True

; [PyChecker]
;
; run_pychecker = True
